* {
	border: 0px solid blue !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

* {font-family: 'Raleway', sans-serif;
  
}

.grid {
	margin: 0 auto;
	max-width: 1200px;
	width:100%
}

.row {
	width: 100%;
	margin-bottom:20px;
	display: flex;
	
}

@media only screen and (max-width:500px) {
  p {
      display: none;
  }
}


.col-1 {
	width: 8.33%;
}

.col-2 {
	width:16.66%;
}


.col-4 {
	width:33.333333%;
}

.left { text-align: left;}
.center { text-align: center;}
.right {text-align: right;}

.responsive-img {
	max-width: 100%;
	height: auto;
}

.col-5 {
   width: 100%;
}

.col-6 {
  width: 100%;
  text-align: left;
  font-size: 36px;
}


.col-10 {
  width:83.33%;
  text-align: right;
  font-size: 75px;
  margin-left: 100px;
  
}

